<div class="blankslate <%= local_assigns[:narrow] && 'blankslate-narrow' %>">
  <%= image_tag "web-link", alt: "web-link", class: "mb-3" %>
  <h3 class="mb-1"><%= title %></h3>
  <p><%= description %></p>
  <%= yield %>
</div>
