<div data-controller="sidebar" class="d-flex clearfix">
  <%= render "sidebar" %>
  <main class="overflow-y-auto width-full col-lg-9 px-3 px-lg-6 py-3 py-lg-6" style="height: calc(100vh - 64px)">
    <div>
      <button type="button" data-action="sidebar#show" class="close-button mb-2 d-lg-none">
        <%= octicon "three-bars", height: 20 %>
      </button>
      <%= render "details" %>
    </div>
    <hr class="my-3">
    <% if @web_link.visit_count.positive? %>
      <%= render "stats", web_link: @web_link %>
    <% else %>
      <%= render "shared/blankslate",
        narrow: true,
        title: "Your web link hasn't been clicked",
        description: "Your web link's stats will show here if someone clicks your shortened url."
      %>
    <% end %>
  </main>
</div>
